html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Inter', sans-serif;
    background-color: rgb(241, 241, 241);
    max-width: 900px;
    margin: 0px auto;
    padding: 20px;
}